{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Soil Data</h2>
    <a href="{{ url_for('add_soil_data') }}" class="btn btn-success">Add Soil Data</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Farm</th>
            <th>Date</th>
            <th>pH</th>
            <th>Nitrogen</th>
            <th>Phosphorus</th>
            <th>Potassium</th>
            <th>Organic Matter</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for data in soil_data %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[8] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[6] }}</td>
            <td>{{ data[7] }}</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Edit</a>
                <a href="#" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}